<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Processing</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <link rel="stylesheet" href="../static/styles/style.css" />
</head>
<body>
    <div class="container">
        <button class="button is-info" v-if="room" @click="publish(true)">
          Share Desktop
        </button>
        <button class="button is-info" v-if="room" @click="displayFrontCamera">
          Share Front Cam
        </button>
      </div>
    <video id="video" width="540" height="480" autoplay></video>
    <canvas id="canvas" width="540" height="480" style="display:none;"></canvas>
    <img id="processed" width="540" height="480" src="" alt="Processed Video">

    <script>
        const video = document.getElementById('video');
        const canvas = document.getElementById('canvas');
        const context = canvas.getContext('2d');
        const processed = document.getElementById('processed');
        const socket = io.connect('https://' + document.domain + ':' + location.port);

        // navigator.mediaDevices.getUserMedia({ video: true })
        //     .then(stream => {
        //         video: {
        //             facingMode: 'user'  // This specifies the front camera
        //         };
        //         setInterval(captureAndSendFrame, 100);  // Adjust interval as needed
        //     });
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(stream => {
                video.srcObject = stream;
                setInterval(captureAndSendFrame, 100);  // Adjust interval as needed
            });
        
        var startTime;

        function captureAndSendFrame() {
            video.style.transform = 'scaleX(-1)';

            context.drawImage(video, 0, 0, canvas.width, canvas.height);
            const frame = canvas.toDataURL('image/jpeg');
            socket.emit('video_frame', frame);

    // Reset the video element's transformation after drawing
        video.style.transform = 'scaleX(1)';

        startTime = new Date();
        }

        socket.on('processed_frame', data => {
            let endTime = new Date();
            console.log(endTime - startTime + " ms")
            processed.src = 'data:image/jpeg;base64,' + data;
        });
    </script>
</body>
</html>